.filter-image {
  width: 140px;
  display: inline-block;
  margin: 0 3px;
  p {
    font-size: 13px;
    color: slategrey;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 5px;
  }
  .img {
    cursor: pointer;
    width: 140px;
    height: 140px;
    background-size: cover;
    background-position: center center;
  }
}

.filter-image:last-child {
  margin-right: 20px;
}
